<h1> Dashboard </h1>

<% @user = User.find_by("id" => cookies["user_id"]) %>
<% if @user.present? %>
<strong>Hi <%= @user["name"] %>!</strong>

<% all_goals = @user.goals.read %>

<% all_goals.each do |goal| %>

<h2> Goal: <%= goal["outcome"] %> </h2>

      (<%= link_to "Delete", "/goals/#{goal["id"]}", "method" => "delete" %>)
      (<%= link_to "Edit", "/goals/#{goal["id"]}/edit" %>)

    <% all_strategies = Strategy.where(:goal_id => goal["id"]) %>

    <% all_strategies.each do |strategy| %>

         <li>
         <%= strategy["description"] %>
         (<%= link_to "Delete", "/strategies/#{strategy["id"]}", "method" => "delete" %>)
         (<%= link_to "Edit", "/strategies/#{strategy["id"]}/edit" %>)
         <strong>

         <%= strategy["frequency"] %> times per week
         </strong>

         <%= Effort.where(:strategy_id => strategy["id"]).average(:value) %>

         </li>

         <% end %>

    <% end %>

<% else %>
<p> "Sign up or sign in to get tracking!" </p>

<% end %>
