<h1> Add new effort </h1>

<%= form_tag "/efforts", "method" => "post"  %>

<div class="row">
<div class="col-md-5">

      <div class="form-group">
        <%= label_tag "strategy_id", "What did you do?" %>
        <%= select_tag "strategy_id",
            options_from_collection_for_select(Strategy.read.order("description"),
                        "id",
                        "description"), "class" => "form-control" %>
      </div>

      <div class="form-group">
        <label>Date</label>
        <input name="date" value="<%= Date.today %>" type="date" class="form-control input-md">
      </div>

      <div class="form-group">
        <%= label_tag "value", "Did you do it?" %>
      <%= select_tag :value, options_for_select([['Yes',100],['Kinda',50],['No',0]]) %>
      </div>

 <%= submit_tag "Save effort", "class" => "btn btn-lg btn-success" %> or <%= link_to "Cancel", "/efforts" %>


    </form>

</div>
</div>

